body {
  margin: 0 auto;
  width: 100%;
  max-width: 1020px;
  text-align: center;
  font-family: "Poppins", sans-serif;
}
.personajes {
  background-color: white;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 300px;
  width: 100%;
  text-align: center;
  margin-top: 60px;
  max-width: 50%;
  margin-left: 62px;
}
.jumbotron {
  display: flex;
  justify-content: center;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  height: 350px;
  width: 800px;
  margin-top: 30px;
}

.columna-personajes {
  grid-template-rows: 200px auto;
  grid-template-columns: repeat(4, 1fr);
}
h1 {
  display: flex;
  justify-content: center;
  color: #6db1b7;
  margin-top: 50px;
}
.button-characters {
  background: #6db1b7;
  color: white;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.button-character {
  background: #6db1b7;
  color: white;
  margin-top: 30px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.personajes {
  margin-right: 30px;
  width: 340px;
  height: 300px;
  margin-bottom: 200px;
}
.card {
  padding: 0;
  margin: 20px;

  margin-bottom: 40px;
}
.container {
  padding: 0;
  margin-left: 80px;
}
.container-description {
  background: #eee;
  border-radius: 5px;
  width: 80%;
}
.characters {
  padding: 0;
  margin-left: 0;
}

.card-body {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  border-radius: 5px;
}
.nav {
  margin-top: 20px;
  justify-content: space-around;
}

.nav a:hover {
  color: black;
}
.twitter {
  margin-top: 10px;
}
.github {
  margin-top: 10px;
  margin-left: 10px;
}
.page-item {
  color: #6db1b7;
}
.nav-link {
  color: #6db1b7;
}
.page-link {
  color: #6db1b7;
}

.button-card {
  color: black;
  border-radius: 5px;
  background: #6db1b7;
  width: 150px;
  height: 40px;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  padding-top: 8px;
}
.button-card:hover {
  color: black;
  text-decoration: none;
}

.logo {
  margin-top: 60px;
}
.btn {
  background: #6db1b7;
  color: black;
}
.btn:hover {
  color: black;
}
.button-home {
  margin-bottom: 50px;
}
.button-home:hover {
  color: black;
}

.enlaces {
  color: red;
}
.description {
  display: inline-block;
  text-align: left;
  line-height: 50px;
  margin-top: 23px;
}
.button {
  margin-top: 80px;
  margin-bottom: 50px;
  border-radius: 5px;
  background: #6db1b7;
  width: 150px;
  height: 40px;
  cursor: pointer;
}
.personaje {
  margin-right: 100px;
  border-radius: 5px;
  margin: 20px;
}
.back {
  margin-right: 650px;
  margin-bottom: 20px;
}
